@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

.brand, .slogan {
    font-family: 'Rock Salt';
    color: #000;
}

.brand {
    font-weight: bold;
}

.slogan {
    font-size: 20px;
    margin-top: 40px;
}

.sign-up-btn {
    background-color: #00BFFF;
    border: none;
}
