@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

.brand, .slogan {
    font-family: 'Rock Salt';
    color: #000;
}

.brand {
    font-weight: bold;
}

.slogan {
    font-size: 20px;
    margin-top: 40px;
}

.sign-up-btn {
    background-color: #00BFFF;
    border: none;
    margin-right: 10px;
}

.log-in-btn {
    display: inline-block;
    text-align: center;
    width: 100px;
    color: #000;
}

.welcome-cont {
    margin-top: 150px;
}
