{% extends "base.html" %}
{% load staticfiles %}

{% block title %}: Login{% endblock title %}

{% block local_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/authorization/style.css" %}">
{% endblock local_css %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-sm-offset-2 col-sm-8">
        <!-- <img class="col-sm-4" src="{% static 'images/main/deez_notes_logo.png' %}"> -->
        <form action="" method="POST" class="col-sm-8 col-sm-offset-4">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="exampleInputEmail1">{{ field.label }}</label>
                {% if field.name == 'password' %}
                <div class="input-group">
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control" id="exampleInputEmail1" placeholder="{{ field.name }}">
                    <div class="input-group-addon"><a href="#" style="display: inline-block; width: 20px; height: 20px; background: #fff; border: 1px solid gray;"></a> Show</div>
                </div>
                {% else %}
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control" id="exampleInputEmail1" placeholder="{{ field.name }}">
                {% endif %}
            </div>
            {% endfor %}
            <button class="btn btn-default col-sm-6">Log In</button>
            <button class="btn btn-default col-sm-offset-1 col-sm-5">Stay logged on</button>
        </form>
    </div>
{% endblock content %}
