{% extends "authorization.html" %}
{% load staticfiles %}

{% block title %}: Login{% endblock title %}


{% block local_js %}
    <script type="text/javascript" src="{% static "authorization/js/showHidePassword.js" %}"></script>
{% endblock local_js %}

{% block content %}
<div class="container">
    <div class="col-sm-offset-1 col-sm-9 login-cont">
        <div class="row">
            <img class="col-sm-3 col-xs-12 logo_man" src="{% static 'main/images/deez_notes_logo.png' %}">
            <form action="" method="POST" class="col-sm-offset-1 col-sm-8 login-form col-xs-12">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                    <p class="errors-form bg-danger">{{ error }}</p>
                {% endfor %}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.name }}">{{ field.label }}</label>

                    {% if field.name == 'password' %}
                    <div class="input-group">
                        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control {% if field.errors %}input-error{% endif %}" id="{{ field.name }}" placeholder="{{ field.name }}">
                        <div class="input-group-addon">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="showHidePassCheckbox"> Show
                                </label>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ field.value|default_if_none:"" }}" class="form-control {% if field.errors %}input-error{% endif %}" id="exampleInputEmail1" id="{{ field.name }}" placeholder="{{ field.name }}">
                    {% endif %}
                    {% for error in field.errors %}
                        <p class="errors-form-field">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <button class="btn login_btn btn-block">Log In</button>
                        </div>
                        <div class="col-xs-6">
                            <div class="stay_logged text-center">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Stay logged in
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
