{% extends "authorization.html" %}
{% load staticfiles %}

{% block title %}: Welcome{% endblock title %}

{% block content %}
<div class="container">
    <div class="page-header">
        <p class="pull-right">
            <a href="{% url 'auth:register' %}" class="btn sign-up-btn">Sign Up Free</a>
            <a href="{% url 'auth:login' %}" class="btn log-in-btn">Log In</a>
        </p>
    </div>
    <div class="welcome-cont col-sm-offset-2 col-sm-8">
        <div class="row">
            <h1 class="brand col-xs-12">Deez Notes</h1>
            <img class="col-sm-5 col-xs-12 img-responsive boy" src="{% static 'images/main/deez_notes_logo.png' %}">
            <p class="slogan col-sm-7 col-xs-12">Find anything <br>under 10 seconds,<br> guaranteed!</p>
        </div>
    </div>
</div>
{% endblock content %}
